@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
@import "tailwindcss";

@theme {
  --color-brand: #2567A9;
  --color-main:#026585;
   --color-topcolor:#ddf1f4;

  --color-brand-80: color-mix(in srgb, #026585 50%, white);
}