@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
@import "tailwindcss";

@theme {
  --color-brand:#00a662;
  --color-main:#00a662;
   --color-topcolor:#00a662;

  --color-brand-800: color-mix(in srgb, #00a662 50%, white);
    --color-brand-900: color-mix(in srgb, #00a662 50%, white);

}