@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap");
@import "tailwindcss";

@theme {
  --color-brand:#F4A460;
  --color-main:#A0522D;
   --color-topcolor:#F5F5DC;

  --color-brand-800: color-mix(in srgb, #0f4c5c 50%, white);
    --color-brand-900: color-mix(in srgb, #0b3c48 50%, white);

}